.App {
  
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addtocart{
  min-width: 300px;
  min-height: 300px;
  border: 2px solid #282c34; 
}
.productname {
  /* position:absolute; */
  display: inline-block;
  border: 1px solid rgba(99, 96, 96,0.5);
  padding: 10px;
  margin-top: 10px;
  width: 200px;
}
.premove{
  width: 20px;
  background-color: crimson;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
.cartcount{
  margin: 0 auto;
  width: 200px;
  background-color: rgba(21, 82, 216, 0.9);
  color:aliceblue;
  padding: 10px 30px;
}
.count{
  padding-left: 20px;
}
.add{
  cursor: pointer;
  border: none;
  border: 1px solid blue;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(4, 85, 190, 0.979);
  color: aliceblue;
}
input {
  height: 32px;
    font-size: 20px;
}